button {
    margin: 0px !important;
    font-size: 42px;
    height: 45px;
    width: 45px;
    vertical-align: top;
}
.maindiv{
    display: none;
}
.seconddiv{
    border: 1px solid black;
    padding: 20px;
    background: white;
}
